# -*- coding: utf-8 -*-

# Define here the models for your scraped items
#
# See documentation in:
#

import quixote


class ${ProjectName}Item(quixote.Item):
    # define the fields for your item here like:
    # name = quixote.Field()
    pass
